.gray {
    background: rgb(230, 226, 226);
    margin: 1px;
    color: black;
    text-align: right;
    line-height: 1.5;
    padding: 8px;
    clr-icon {
        margin: 10px 20px;
        zoom: 1.9;
        color: RED;
        float: left;
    }
    p {
        font-size: 32px;
        font-weight: bold;
        color: rgb(3, 1, 1);
    }
}

.item {
    width: auto;
    height: auto;
    margin: 10px auto;
    border: 1px solid #eaeaea;
    padding: 10px;
}