<div class="clr-row">
    <div class="clr-col-12 clr-col-lg-3 clr-col-md-6 gray">
        <clr-icon style="color:blue" shape="data-cluster"></clr-icon>
        Capacity
        <p>105GB</p>

    </div>
    <div class="clr-col-12 clr-col-lg-3 clr-col-md-6 gray">
        <clr-icon style="color:green" shape="wallet"></clr-icon>

        Revenue
        <p>₦4780</p>
    </div>
    <div class="clr-col-12 clr-col-lg-3 clr-col-md-6 gray">
        <clr-icon style="color:red" shape="curve-chart"></clr-icon>
        Error
        <p>23</p>
    </div>


</div>
<div class="clr-row">
    <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">
        <div class="card">

            <div>
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                  </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clr-row">

    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
        <div class="card">
            <div style="display: block">
                <canvas baseChart [datasets]="radarChartData" [labels]="radarChartLabels" [options]="radarChartOptions" [chartType]="radarChartType"></canvas>
            </div>
        </div>
    </div>
    <div class="clr-col-lg-6 clr-col-md-12 clr-col-12">
        <div class="card">
            <div style="display: block">
                <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [options]="radarChartOptions" [chartType]="pieChartType"></canvas>
            </div>
        </div>
    </div>
</div>

<clr-modal [(clrModalOpen)]="basic">
    <h3 class="modal-title">Add User</h3>
    <div class="modal-body">
        <form clrForm [formGroup]="form" (ngSubmit)="onSubmit()">
            <clr-input-container>
                <label>Name</label>
                <input clrInput type="text" formControlName="name" name="example" />
            </clr-input-container>
            <clr-input-container>
                <label>Job</label>
                <input clrInput type="text" formControlName="job" name="example" />
            </clr-input-container>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
        <button type="submit" (click)="onSubmit()" class="btn btn-primary">ADD</button>
    </div>
</clr-modal>
<div class="alert alert-success" role="alert" *ngIf="sucess">
    <div class="alert-items">
        <div class="alert-item static">
            <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
            </div>
            <span class="alert-text">{{sucess}}</span>
        </div>
    </div>
</div>