<div class="clr-row">
    <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
        <div class="card">
            <div class="card-header">
                Add User
            </div>
            <div class="card-block">

                <div class="card-text">
                    <form clrForm [formGroup]="form" (ngSubmit)="onSubmit()">
                        <clr-input-container>
                            <label>Name</label>
                            <input clrInput type="text" formControlName="name" name="example" />
                        </clr-input-container>
                        <clr-input-container>
                            <label>Job</label>
                            <input clrInput type="text" formControlName="job" name="example" />
                        </clr-input-container>

                    </form>

                </div>
            </div>
            <div class="card-footer">
                <button type="button" class="btn btn-outline" (click)="basic = false">Cancel</button>
                <button type="submit" (click)="onSubmit()" class="btn btn-primary">ADD</button>
            </div>
        </div>
    </div>
</div>